.events-page {
  background: #f9fafb;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.section-title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 35px;
}

.section-space {
  margin-bottom: 90px;
}

.events-page {
  background: #f8f9fa;
}

.events-header {
  text-align: center;
  margin-bottom: 20px;
}

.events-header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.events-header p {
  font-size: 1.2rem;
  color: #000;
  max-width: 700px;
  margin: 0 auto;
}

.calendar-section {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}
.calendar-header {
  text-align: center;
  margin-bottom: 35px;
}

.calendar-header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.calendar-header p {
  font-size: 1.1rem;
  color: #000;
  max-width: 700px;
  margin: 0 auto;
}

.calendar-layout {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 30px;
  align-items: start;
}

.calendar-wrapper {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  margin-left: 160px;
}

.calendar-info {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.calendar-info ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.calendar-info li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.calendar-info span {
  color: #000;
  font-size: 0.95rem;
}
.event-card {
  height: 100%;
  min-height: 350px;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-btn,
.submit-btn {
  background: #404955;
  border: none;
  color: white;
  padding: 13px 28px;
  border-radius: 50px;
  font-weight: 600;
}

.register-btn:hover,
.submit-btn:hover {
  background: #111827;
}

.modal-content {
  border-radius: 24px;
  border: none;
  padding: 10px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

.modal-title {
  font-weight: 700;
  color: #111827;
}

.form-control {
  border-radius: 14px;
  padding: 14px;
  border: 1px solid #d1d5db;
}

.form-control:focus {
  border-color: #404955;
  box-shadow: none;
}

@media (max-width: 768px) {
  .events-hero-content h1 {
    font-size: 2.5rem;
  }

  .events-hero-content p {
    font-size: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .calendar-wrapper {
    width: 100%;
  }

  .react-calendar {
    height: auto;
    min-height: 600px;
    padding: 20px;
  }
}
