.footer-section {
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* TOP */

.footer-top {
  background: linear-gradient(180deg, #f8fafc, #eef2f7);

  padding: 70px 20px;
}

.footer-logo {
  width: 150px;
  max-width: 100%;
  margin-bottom: 20px;
}

.footer-description {
  color: #4b5563;

  line-height: 1.8;

  font-size: 15px;

  max-width: 350px;
}

/* TITLE */

.footer-title {
  font-size: 20px;

  font-weight: 700;

  margin-bottom: 25px;

  position: relative;
}

.footer-title::after {
  content: "";

  width: 50px;

  height: 4px;

  background: #4b5563;

  position: absolute;

  left: 0;

  bottom: -10px;

  border-radius: 30px;
}

/* LINKS */

.footer-links {
  list-style: none;

  padding: 0;

  display: flex;

  flex-direction: column;

  gap: 16px;
}

.footer-links a {
  display: flex;

  align-items: center;

  gap: 10px;

  color: #4b5563;

  text-decoration: none;

  transition: 0.3s;
}

.footer-links a:hover {
  transform: translateX(6px);

  color: #000;
}

/* CONTACT */

.footer-contact {
  display: flex;

  flex-direction: column;

  gap: 18px;
}

.footer-contact p {
  display: flex;

  gap: 12px;

  align-items: center;

  margin: 0;

  color: #111827;
}

/* SOCIAL */

.social-icons {
  display: flex;

  flex-wrap: wrap;

  gap: 14px;

  margin-top: 25px;
}

.social-icons a {
  width: 45px;

  height: 45px;

  border-radius: 50%;

  background: white;

  display: flex;

  align-items: center;

  justify-content: center;

  color: #111827;

  transition: 0.3s;
}

.social-icons a:hover {
  transform: translateY(-4px);

  background: #111827;

  color: white;
}

/* BOTTOM */

.footer-bottom {
  background: #111827;

  padding: 22px;
}

.footer-bottom-content {
  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 20px;
}

.footer-bottom p {
  color: #d1d5db;

  margin: 0;
}

.footer-bottom span {
  color: white;

  font-weight: 700;
}

/* MOBILE */

@media (max-width: 991px) {
  .footer-top {
    text-align: center;

    padding: 60px 20px;
  }

  .footer-title::after {
    left: 50%;

    transform: translateX(-50%);
  }

  .footer-description {
    margin: auto;
  }

  .footer-links {
    align-items: center;
  }

  .footer-contact {
    align-items: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-bottom-content {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .footer-logo {
    width: 100px;
  }

  .footer-title {
    font-size: 18px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-bottom p {
    font-size: 13px;
  }
}
